* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --placeholder-color: rgb(61, 61, 255);
  --header-color: #1a1a1a;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  max-width: 1200px;
  margin: auto;
  line-height: 1.6;
}

.section-header {
  font-size: 2.25rem;
  line-height: 1.3;
  color: var(--header-color);
}

/* header */
#header {
  background-color: beige;
  padding: 48px 32px;
}

.links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  row-gap: 0px;
  list-style-type: none;
  font-size: 1.875rem;
}

.links-list a {
  text-decoration: none;
  color: rgb(89, 88, 88);
}

.links-list a:hover {
  text-decoration: underline double palevioletred;
  color: rgb(9, 9, 9);
}

/* new note section */
#new-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px;
  gap: 36px;
  background-color: azure;
}

#download-notes {
  width: 100%;
  font-size: 1.25rem;
  padding: 8px 0px;
  border-radius: 8px;
  border: 1px solid green;
  transition: 0.3s linear;
  opacity: 0.8;
  background-color: rgb(79, 217, 227);
  color: rgb(27, 26, 26);
}

#delete-all-notes {
  width: 100%;
  background-color: red;
  color: aliceblue;
  font-size: 1.25rem;
  padding: 8px 0px;
  border-radius: 8px;
  border: 1px solid green;
  transition: 0.3s linear;
  opacity: 0.8;
}

.note-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.note-input label {
  font-size: 1.5rem;
  color: rgb(16, 16, 16);
  user-select: none;
}

#new-note-title {
  height: 50px;
  line-height: 1.5;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid green;
  outline: none;
  transition: 0.2s linear;
  background-color: whitesmoke;
  opacity: 0.5;
}

#new-note-description {
  height: 250px;
  min-height: 50px;
  max-width: 100%;
  min-width: 100%;
  line-height: 1.4;
  font-size: 1.375rem;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid green;
  outline: none;
  transition: 0.2s linear;
  background-color: whitesmoke;
  opacity: 0.5;
}

#new-note-description::placeholder, #new-note-title::placeholder {
  color: var(--placeholder-color);
}

#new-note-title:focus, #new-note-description:focus, #add-note:hover, #delete-all-notes:hover, .up-note:hover, 
#reset-note:hover, .delete-note:hover, .update-note:hover, #download-notes:hover, .down-note:hover, #delete-modal:hover {
  border-radius: 16px;
  border: 1px solid orange;
  box-shadow: 0 0 6px gray;
  opacity: 1;
}

#new-note-controls {
  width: 100%;
}

#new-note-controls button {
  width: 49%;
  font-size: 1.25rem;
  padding: 8px 0px;
  border-radius: 8px;
  border: 1px solid green;
  outline: none;
  transition: 0.3s linear;
  opacity: 0.8;
}

#add-note {
  background-color: lightgreen;
  color: rgb(27, 26, 26);
}

#reset-note {
  background-color: rgb(240, 232, 128);
  color: rgb(27, 26, 26);
}

/* note list section */
#note-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px;
  background-color: rgb(183, 255, 255);
  gap: 36px;
}

#header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 16px;
}

#saved-notes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

.saved-note {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 14px;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid aquamarine;
  background-color: rgb(165, 245, 165);
  box-shadow: 4px 4px 12px rgb(67, 137, 67), -4px 4px 12px rgb(67, 137, 67);
}

.saved-note-date {
  text-align: center;
  font-size: 1.125rem; 
}

.saved-note-title {
  text-align: center;
  font-size: 1.75rem;
}

.saved-note-description {
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.3;
}

.saved-note-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
}

.saved-note-controls button {
  font-size: 1.125rem;
  padding: 8px 0px;
  border-radius: 8px;
  border: 1px solid rgb(32, 0, 128);
  outline: none;
  transition: 0.3s linear;
  opacity: 0.8;
}

.delete-note {
  width: 31%;
  background-color: rgb(235, 78, 78);
  color: aqua;
}

.update-note {
  width: 31%;
  background-color: rgb(59, 108, 233);
  color: aquamarine;
}

.down-note, .up-note {
  background-color: rgb(221, 249, 129);
  color: rgb(28, 28, 28);
  width: 39px;
  height: 39px;
}

.down-note {
  rotate: -90deg;
}

.up-note {
  background-color: rgb(221, 249, 129);
  rotate: 90deg;
}

/* footer */
#footer {
  background-color: blanchedalmond;
  padding: 48px 32px;
  text-align: center;
}

#footer-divider {
  margin: 32px auto;
  width: 90%;
  border: 4px solid rgb(89, 88, 88);
  border-radius: 5px;
}

#contacts-icon {
  width: 50px;
  height: 50px;
}

/* project description section */
#project-description {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  padding: 48px 32px;
  background-color: azure;
}

.description-divider {
  width: 70%;
  color: #1a1a1a;
  margin: 8px 0px 24px 0px;
}

.description-text {
  line-height: 1.5;
  font-size: 1.25rem;
  color: rgb(16, 16, 16);
}

.description-container {
  width: 100%;
}

#styled-link {
  text-decoration: orange wavy underline 2px;
  color: brown;
}

/* modal window */
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  background-color: whitesmoke;
  margin: auto;
  padding: 16px;
  border: 1px solid gray;
  width: 300px;
  font-size: 1.125rem;
}

#close-modal {
  font-size: 1.125rem;
  width: 25px;
  color: #aaaaaa;
  align-self: end;
  font-weight: bold;
}

#close-modal:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#delete-modal {
  display: none;
  width: 100%;
  font-size: 1.125rem;
  color: aqua;
  background-color: red;
  opacity: 0.8;
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 0px;
  transition: 0.3s;
}

/* tablet + desktop devices */
@media (min-width: 500px) {
  .saved-note-controls {
    gap: 16px;
    justify-content: center;
  }
}

@media (min-width: 800px) {
  #saved-notes {
    flex-direction: row;
  }

  .saved-note-controls {
    flex-direction: row-reverse;
    margin-top: auto;
  }

  .saved-note {
    width: 48%;
    height: auto;
  }

  #new-note-title {
    width: 736px;
  }

  #new-note-description {
    width: 736px;
    max-width: 736px;
    min-width: 735px;
  }

  .note-input {
    width: auto;
  }

  #new-note-controls {
    width: auto;
  }

  #new-note-controls button {
    width: 365px;
  }

  .description-container {
    width: 70%;
  }

  .description-divider {
    width: 100%;
  }

  #download-notes, #delete-all-notes {
    width: 365px;
  }

  .down-note {
    rotate: 180deg;
  }

  .up-note {
    rotate: 0deg;
  }
}