* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  max-width: 1200px;
  margin: auto;
  line-height: 1.6;
}

.section-header {
  font-size: 2rem;
}

/* header */
#header {
  background-color: antiquewhite;
  padding: 48px 32px;
}

#nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  row-gap: 0px;
  list-style-type: none;
  font-size: 1.875rem;
}

#nav-list a {
  text-decoration: none;
  color: rgb(89, 88, 88);
}

#nav-list a:hover {
  text-decoration: underline double palevioletred;
  color: rgb(9, 9, 9);
}

/* new note section */
#new-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px;
  gap: 36px;
  background-color: azure;
}

.note-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.note-input label {
  font-size: 1.5rem;
  color: rgb(16, 16, 16);
}

#new-note-title {
  height: 50px;
  line-height: 1.5;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid green;
  outline: none;
  transition: 0.2s linear;
  background-color: whitesmoke;
  opacity: 0.5;
}

#new-note-description {
  height: 250px;
  min-height: 50px;
  max-width: 100%;
  min-width: 100%;
  line-height: 1.4;
  font-size: 1.375rem;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid green;
  outline: none;
  transition: 0.2s linear;
  background-color: whitesmoke;
  opacity: 0.5;
}

#new-note-title:focus, #new-note-description:focus, #add-note:hover, #reset-note:hover {
  border-radius: 16px;
  border: 1px solid orange;
  box-shadow: 0 0 6px gray;
  opacity: 1;
}

#new-note-controls {
  width: 100%;
}

#new-note-controls button {
  width: 49%;
  font-size: 1.25rem;
  padding: 4px 0px;
  border-radius: 8px;
  border: 1px solid green;
  outline: none;
  transition: 0.3s linear;
  opacity: 0.8;
}

#add-note {
  background-color: lightgreen;
  color: rgb(27, 26, 26);
}

#reset-note {
  background-color: lightcoral;
  color: aliceblue;
}

/* note list section */
#note-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px;
  background-color: bisque;
}